<meta charset="UTF-8" data-ng-init="initPage()">
<div class="my_Center_margin">
    <ul class="bread bg" style="height: 40px;line-height: 40px;">
        <li style="padding-left: 20px;"><a target="_self" style="color: #999;" href="javascript:void(0);" data-ng-click="bread()">我的信息</a></li>
        <li>编辑信息</li>
    </ul>
    <form class="form-x xs12 xm7 line">
        <div class="form-group">
            <div class="left_inp xs3">
                <label for="userId"><span class="text-dot">*</span>&nbsp;用户ID</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="userId" size="50" data-ng-model="info.id" disabled/>
            </div>
        </div>
        <div class="form-group">
            <div class="left_inp xs3">
                <label for="email">&nbsp;电子邮箱</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="email" size="50" placeholder="请输入有效邮箱，激活邮件将发送到输入邮箱"
                       maxlength="100" data-ng-model="info.email"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="name"><span class="text-dot">*</span>&nbsp;企业名</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="name" size="50" placeholder="请输入出口产品的生产厂家名"
                       data-validate="required:必填"
                       maxlength="30" data-ng-model="info.name"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="legal"><span class="text-dot">*</span>&nbsp;法人姓名</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="legal" size="50" placeholder="请输入营业执照上的法人代表"
                       data-validate="required:必填"
                       maxlength="10" data-ng-model="info.legal_person"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="identif">法人身份证号</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="identif" size="50" placeholder="请输入有效身份证号"
                       data-validate="identity:请输入有效身份证号"
                       maxlength="18" data-ng-model="info.identif"/>
            </div>
        </div>
    </form>
    <form class="form-x xs12 xm7 line">
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="license"><span class="text-dot">*</span>&nbsp;营业执照</label>
            </div>
            <div class="fields xs9">
                <input type="file" name="file" lay-title="上传营业执照"  class="layui-upload-file">
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'" data-ng-show="info.license">
            <div class="left_inp xs3"></div>
            <div class="fields xs9">
                <a href="{{loginInfo.attrs.license}}">
                    <img class="xl2-move xl8 img-responsive " data-ng-src="{{info.license}}">
                </a>
            </div>
        </div>
    </form>
    <form class="form-x xs12 xm7 line">
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="oCode">组织机构码</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="oCode" size="50" placeholder="选填" maxlength="18"
                       data-ng-model="info.o_code"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="rCode"><span class="text-dot">*</span>&nbsp;工商注册码</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="rCode" size="50" placeholder="" data-validate="required:必填"
                       maxlength="18"
                       data-ng-model="info.r_code"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'">
            <div class="left_inp xs3">
                <label for="tel"><span class="text-dot">*</span>&nbsp;联系方式</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="tel" size="50" placeholder="请输入正确的电话或手机号码"
                       data-validate="required:必填,tel:请输入正确的电话或手机号码" maxlength="30" data-ng-model="info.tel"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity=='1'" data-ng-init="chgIdentity()">
            <div class="left_inp xs3">
                <label for="address"><span class="text-dot">*</span>&nbsp;企业地址</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="address" size="100" placeholder="请输入真实的企业地址"
                       data-validate="required:必填"
                       maxlength="100" data-ng-model="info.address"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity!='1'">
            <div class="left_inp xs3">
                <label for="name"><span class="text-dot">*</span>&nbsp;个人姓名</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="name" size="50" placeholder="请输入个人真实姓名" data-validate="required:必填"
                       maxlength="30" data-ng-model="info.name"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity!='1'">
            <div class="left_inp xs3">
                <label for="identif">身份证号</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="identif" size="50" placeholder="请输入有效身份证号"
                       data-validate="identity:请输入有效身份证号"
                       maxlength="18" data-ng-model="info.identif"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity!='1'">
            <div class="left_inp xs3">
                <label for="tel">联系方式</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="tel" size="50" placeholder="请输入正确的电话或手机号码"
                       data-validate="tel:请输入正确的电话或手机号码"
                       maxlength="30" data-ng-model="info.tel"/>
            </div>
        </div>
        <div class="form-group" data-ng-if="info.identity!='1'" data-ng-init="chgIdentity()">
            <div class="left_inp xs3">
                <label for="address">个人住址</label>
            </div>
            <div class="fields xs9">
                <input type="text" class="input" id="address" size="100" placeholder="请输入真实的个人住址" maxlength="100"
                       data-ng-model="info.address"/>
            </div>
        </div>
        <div class="form-button padding-big-top  xs3-move">
            <div class="left_inp xs3">
                <label for="address"></label>
            </div>
            <div class="fields xs9">
                <button class="button box-shadow" type="button" data-ng-click="edit()">保存修改</button>
            </div>
        </div>
    </form>
    <div class="clearfloat"></div>
</div>