.content_wrap {
	padding: 30px;
	width: 100%;
	text-align: left;
	min-height: 350px;
}
.content_wrap h1, .content_wrap h2, .content_wrap h3, .content_wrap h4, .content_wrap h5, .content_wrap h6, .content_wrap p {
	width: 100% !important;
}
.content_wrap h1 {
	font-size: 32px!important;
}
.content_wrap h2 {
	font-size: 24px!important;
}
.content_wrap h3 {
	font-size: 19px!important;
}
.content_wrap h4 {
	font-size: 16px!important;
}
.content_wrap h5 {
	font-size: 14px!important;
}
.content_wrap h6 {
	font-size: 12px!important;
}
