.login {
	height: 380px;
	margin-top: 40px;
	margin: auto;
	text-align: center!important;
}

.login>.carousel>.item>a>img {
	height: 380px;
}
.introd_nav{
	display: inline-block;
	margin-top: 20px;
}
.content{
	text-align: center !important;
	width: 100% !important;
}
