html {
    font-size: 12px;
    font-family: 微软雅黑;
}
body {
    font-size: 1em;
    background-color: #f5f5f5;
    /*padding-top: 76px;*/
}
.body1{
    background-color: #FFF;
}
/*------------------------头部------------------*/
.navHt{
    min-height: 40px;
}
.regsiter_btn {
    color: goldenrod;
}

.nav_size {
    line-height: 2em;
}

.container-fluidHr {
    border-bottom: 1px solid gainsboro;
}

.navbar {
    border: none;
    background: white;
    padding: 0;
    margin: 0;
}

#nav_logo {
    padding: 0;
    vertical-align: middle;
}

#nav_logo img {
    width: 220px;
    height: 50px;
    vertical-align: middle !important;
}

.nav_size1 {
    font-size: 1.6em;
    line-height: 50px;
    font-family: 华文行楷;
    color: darkgrey;
}
.navright_con {
    font-size: 1.2em;
}



.college_wrap{
}
.college_title{
    font-size: 1.3em;
    margin: 1em 0;
}
.college_title b{
    margin-right: 5px;
}
.college_cont{
    padding: 15px;
    background: #FFF;
    -webkit-box-shadow: gainsboro 0px 0px 15px;
    -moz-box-shadow: gainsboro 0px 0px 15px;
    box-shadow: gainsboro 0px 0px 15px;
    border-radius: 3px;
}
.college_cont .nav-pills{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
    cursor: pointer;
}
.college_cont .nav-pills a{
    color: black;
}
.college_cont .nav-pills a:hover{
    color: #f48b36;
}
.college_cont>.nav-pills>li.active>a{
    color: #f48b36 ;
    background-color: #FFF;
}
/*---------------------------底部 footer----------------------------*/
footer{
    background-color: #e6eaed;
    padding: 20px 0;
    margin-top: 50px;
}
.foot_listCont{
    border-bottom: 1px solid #607b92;
}
.foot_list p{
    color: #40739f;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding-left: 15px;
}
.foot_sublist li{
    background-color: transparent;
    border: none;
    color: #607b92;
}
.foot_title{
    font-size: 1.5em;
    text-align: center;
    margin-top: 4em;
}
.title_cont p{
    line-height: 2em;
    color: #40739f;
}
.copyright p{
    margin-top: 5px;
    color: #40739f;
    text-align: center;
}


@media(max-width: 990px) {
    .navright_con {
        font-size: 1em;
    }

    #nav_logo img {
        width: 120px;
        height: 30px;
        margin-top: 10px;
    }

    .nav_size1 {
        font-size: 1.3em;
        line-height: 50px;
    }

    .banner_h3 {
        font-size: 1.6em;
    }

    .banner_h5 {
        font-size: 1em;
        margin-bottom: 5px;
    }

    .banner_h6 {
        font-size: 0.8em;
    }

    .mainbanner_img {
        height: 185px !important;
    }

    .subBanner_img {
        height: 140px !important;
    }
}
@media(max-width: 767px) {
    .foot_list{
        text-align: center;
    }
    .foot_list p{
        padding: 15px;
        font-size: 2em;
        margin-bottom: 0;
        line-height: 0;
    }
    .foot_sublist li{
        font-size: 1.5em;
    }
    .foot_title{
        margin-top: 0;
        font-size: 2em;
    }
}
@media(max-width: 380px) {
    .media_boot1{
        width: 100%;
        text-align: left;
    }
    .navbar-toggle{
        padding: 6px;
        margin-top: 11px;
    }
    #nav_logo img {
        width: 100px;
    }
    .nav_size1 {
        font-size: 1em;
    }
    .nav_size1 {
        line-height: 50px;
    }
}