.xuanchuanye_two{
    width: 1124px;
    margin: 0 auto;
}
.XC_left{
    float: left;
    width: 918px;
}
.XC_twoimg img{
    vertical-align: top;
    float: left;
}
.margin_top{
    margin-top: 12.5px;
}
.XC_historytitle{
    height: 1px;
    background-color: gainsboro;
    margin: 40px 0;
    position: relative;
}
.XC_historytitle p{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -20px;
    line-height: 40px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    color: dimgrey;
}
.XC_history_cont,.XC_renwu{
    list-style-type: none;
    padding: 0;
}
.XC_history_cont li{
    height: 181px;
    border-bottom: 1px solid gainsboro;
}
.XC_history_cont li p{
    float: left;
    margin: 0;
}
.XC_history_cont_img{
    width: 271px;
    padding: 15px;
}
.XC_history_cont_size{
    width: 647px;
    padding: 40px 10px 0 10px;
}
.XC_history_cont_title,.XC_history_cont_cont{
    display: block;
}
.XC_history_cont_title{
    font-size: 22px;
    font-weight: bold;
}
.XC_history_cont_title a{
    color: black;
}
.XC_history_cont_cont{
    font-size: 16px;
    padding-top: 15px;
}
.XC_history_cont_cont{
    color: grey;
}

.XC_right{
    width: 204px;
    float: right;
}
.XC_renwu li{
    text-align: center;
}
.renwu_pic{
    width: 162px;
    height: 162px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}
.renwu_pic p{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 45px;
    background-color: rgba(0,0,0,.5);
    margin: 0;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 12px;
}
.renwu_pic img{
    width: 100%;
    height: 100%;
}
.renwu_btn{
    padding: 8px 15px;
    background-color: white;
    border: 1px solid #6884fd;
    color: #6884fd;
    border-radius: 4px;
    margin-top: 20px;
}
/*清除浮动代码*/
.clearfloat {
    clear: both
}
