html {
    font-size: 12px;
}
body {
    font-size: 1em!important;
    font-family: 'Microsoft YaHei', 微软雅黑, 宋体, Arial, Tahoma, Helvetica, sans-serif !important;
}
.body1{
    background-color: #FFF;
}
/*------------------------头部------------------*/
.navHt{
    min-height: 40px;
}
.regsiter_btn>a{
    color: goldenrod;
    cursor: pointer;
    display: inline-block;
}
.nav_size {
    line-height: 2em;
    text-align: right;
    padding-right: 15px;
    font-size: 14px;
}
.nav_size>a{
    display: inline-block;
}
.container-fluidHr {
    border-bottom: 1px solid gainsboro;
    height: 0;
}
.fixed_con{
    border-bottom: 1px solid gainsboro;
    border-top: 1px solid gainsboro;
    background-color: white;
    z-index: 7;
}
.fixed_con ul{
    z-index: 7;
}
.fixed_con a:hover{
    text-decoration: none;
}
.navbar {
    border: none;
    background: white;
    padding: 0;
    margin: 0;
}
#nav_logo {
    width: 220px;
    height: 50px;
    vertical-align: top;
}
#nav_logo_size{
    font-size: 16px;
    font-family: 华文楷体!important;
    color: grey;
    line-height: 50px;
    display: inline-block;
}
#nav_logo_size span{
    display: inline-block;
}
.nav_tit{
    text-align: right !important;
}
.nav_tit>li>a {
    padding: 5px 10px!important;
    font-size: 1.6em;
    line-height: 40px;
    text-decoration: none;
}
.nav_tit>li>ul>li>a{
    font-size: 1.4em;
}
.drop-menu{
    border: 1px solid black;
}
.nav_size1 {
    font-size: 1.8em;
    display: inline-block;
    line-height: 50px;
    font-family: 华文行楷;
    color: darkgrey;
    margin: 0;
}
.foot_licont>li>a,.foot_licont>li>ul>li>a{
    line-height: 2em;
    color: #375872;
    text-decoration: none;
}
.foot_Saoma>ul>li{
    width: 33%;
    float: left;
    text-align: center;
}